In [1]:
import pandas as pd
import numpy as np
fortune=pd.read_csv("./course-files/Fortune_500_2017.csv",usecols=['Rank','Title','Industry','Hqlocation','Sector'])
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX"
4,5,McKesson,Wholesalers,Wholesalers: Health Care,"San Francisco, CA"

In [3]:
fortune['Sector']=fortune['Sector'].str.upper()
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA"

In [5]:
fortune[fortune['Industry'].str.lower().str.contains('comp')]

,Rank,Title,Sector,Industry,Hqlocation
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
27,28,Microsoft,TECHNOLOGY,Computer Software,"Redmond, WA"
40,41,Dell Technologies,TECHNOLOGY,"Computers, Office Equipment","Round Rock, TX"
46,47,Intel,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
60,61,HP,TECHNOLOGY,"Computers, Office Equipment","Palo Alto, CA"
80,81,Oracle,TECHNOLOGY,Computer Software,"Redwood City, CA"
118,119,Qualcomm,TECHNOLOGY,Semiconductors and Other Electronic Components,"San Diego, CA"
151,152,Jabil Circuit,TECHNOLOGY,Semiconductors and Other Electronic Components,"St. Petersburg, FL"
161,162,Xerox,TECHNOLOGY,Computer Peripherals,"Norwalk, CT"
205,206,Texas Instruments,TECHNOLOGY,Semiconductors and Other Electronic Components,"Dallas, TX"
216,217,Western Digital,TECHNOLOGY,Computer Peripherals,"Irvine, CA"
225,226,Micron Technology,TECHNOLOGY,Semiconductors and Other Electronic Components,"Boise, ID"
264,265,Applied Materials,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
325,326,salesforce.com,TECHNOLOGY,Computer Software,"San Francisco, CA"
386,387,Nvidia,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
405,406,Activision Blizzard,TECHNOLOGY,Computer Software,"Santa Monica, CA"
408,409,NCR,TECHNOLOGY,"Computers, Office Equipment","Duluth, GA"
413,414,Sanmina,TECHNOLOGY,Semiconductors and Other Electronic Components,"San Jose, CA"
439,440,Lam Research,TECHNOLOGY,Semiconductors and Other Electronic Components,"Fremont, CA"
442,443,Adobe Systems,TECHNOLOGY,Computer Software,"San Jose, CA"
464,465,Symantec,TECHNOLOGY,Computer Software,"Mountain View, CA"
467,468,NetApp,TECHNOLOGY,Computer Peripherals,"Sunnyvale, CA"

In [10]:
fortune[['City','State']]=fortune['Hqlocation'].str.split(',',expand=True)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA

In [22]:
def BuiltShortCut(row):
    industry=row['Industry']
    result=''
    words=industry.split(' ')
    for i in words:
        result+=i[0]
    return result

In [25]:
BuiltShortCut({'Industry':'Factory Under Newspaper'})

'FUN'

In [24]:
fortune['IndustryShort']=fortune.apply(BuiltShortCut,axis=1)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State,IndustryShort
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR,GM
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE,IPaC(
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA,COE
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX,PR
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA,WHC