In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [3]:
df = pd.read_csv('./course-files/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

df['40K'] = df['40K'].replace('-', 0)
df['Half'] = df['Half'].replace('-', 0)
     
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
     
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
     
df['TotalSeconds'] = df['TotalSeconds'].replace(0,np.nan)
df['HalfSeconds'] = df['HalfSeconds'].replace(0,np.nan)
    
df = df.pivot_table(index="Age",columns="M/F",values="TotalSeconds").head()
df.head()

M/F             F             M
Age
18   16050.666667  14554.615385
19   15351.958333  12156.529412
20   13835.931818  12111.100000
21   14681.027027  12408.360465
22   14366.421053  11872.666667

In [4]:
df.reset_index(inplace=True)
df.head()

M/F  Age             F             M
0     18  16050.666667  14554.615385
1     19  15351.958333  12156.529412
2     20  13835.931818  12111.100000
3     21  14681.027027  12408.360465
4     22  14366.421053  11872.666667

In [5]:
df.melt(id_vars='Age').head()

   Age M/F         value
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053

In [6]:
df.melt(id_vars='Age',value_name='TotalSeconds').head()

   Age M/F  TotalSeconds
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053

In [7]:
df.melt(id_vars='Age',value_name='TotalSeconds',var_name='Sex').head()

   Age Sex  TotalSeconds
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053

In [8]:
df = pd.read_csv('./course-files/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country',
'State','City'])

df['40K'] = df['40K'].replace('-', 0)
df['Half'] = df['Half'].replace('-', 0)
     
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
     
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
     
df['TotalSeconds'] = df['TotalSeconds'].replace(0,np.nan)
df['HalfSeconds'] = df['HalfSeconds'].replace(0,np.nan)

df = df.pivot_table(index="Age",columns="M/F",values=["HalfSeconds","TotalSeconds"])
df.head()

     HalfSeconds               TotalSeconds
M/F            F            M             F             M
Age
18   7999.888889  7078.538462  16050.666667  14554.615385
19   7473.666667  5817.764706  15351.958333  12156.529412
20   6871.045455  5716.800000  13835.931818  12111.100000
21   7246.479452  5929.627907  14681.027027  12408.360465
22   7091.097744  5751.000000  14366.421053  11872.666667

In [9]:
df.reset_index(inplace=True)
df.head()

    Age  HalfSeconds               TotalSeconds
M/F                F            M             F             M
0    18  7999.888889  7078.538462  16050.666667  14554.615385
1    19  7473.666667  5817.764706  15351.958333  12156.529412
2    20  6871.045455  5716.800000  13835.931818  12111.100000
3    21  7246.479452  5929.627907  14681.027027  12408.360465
4    22  7091.097744  5751.000000  14366.421053  11872.666667

In [10]:
df.melt(id_vars='Age').head()

   Age          NaN M/F        value
0   18  HalfSeconds   F  7999.888889
1   19  HalfSeconds   F  7473.666667
2   20  HalfSeconds   F  6871.045455
3   21  HalfSeconds   F  7246.479452
4   22  HalfSeconds   F  7091.097744

In [13]:
df.melt(id_vars='Age',value_vars=["HalfSeconds","TotalSeconds"]).head()

KeyError: 'Age'

???

In [14]:
df.melt(id_vars='Age',value_vars=["HalfSeconds","TotalSeconds"],value_name='Time').head()

KeyError: 'Age'

???