## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 151](#1)
* [Ćwiczenie 152](#2)
* [Ćwiczenie 153](#3)
* [Ćwiczenie 154](#4)
* [Ćwiczenie 155](#5)
* [Ćwiczenie 156](#6)
* [Ćwiczenie 157](#7)
* [Ćwiczenie 158](#8)
* [Ćwiczenie 159](#9)
* [Ćwiczenie 160](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.20.3'

### <a name='1'></a> Ćwiczenie 151
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [3]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.122038  0.495177  0.034389  0.909320
1  0.258780  0.662522  0.311711  0.520068
2  0.546710  0.184854  0.969585  0.775133
3  0.939499  0.894827  0.597900  0.921874
4  0.088493  0.195983  0.045227  0.325330
5  0.388677  0.271349  0.828738  0.356753
6  0.280935  0.542696  0.140924  0.802197
7  0.074551  0.986887  0.772245  0.198716
8  0.005522  0.815461  0.706857  0.729007
9  0.771270  0.074045  0.358466  0.115869

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [ ]:
df.query('C>0.8')

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

### <a name='2'></a> Ćwiczenie 152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [ ]:
df.query('C>0.3 & D<0.7')

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### <a name='3'></a> Ćwiczenie 153
Dokonaj iteracji po pierwszych pięciu wierszach obiektu _df_. Każdy wiersz wydrukuj do konsoli.

__Wskazówka:__ Wykorzystaj funkcję _pd.DataFrame.iterrows()_.

In [ ]:
for index, row in df.head().iterrows():
  print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

### <a name='4'></a> Ćwiczenie 154
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [ ]:
df.iloc[3, 1] = np.nan

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [ ]:
df.loc[8, 'D'] = np.nan

Wyświetl obiekt _df_.

In [ ]:
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

### <a name='5'></a> Ćwiczenie 155
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

In [ ]:
df1=df.dropna()
df1

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### <a name='6'></a> Ćwiczenie 156
Zauważ, że indeks po usunięciu dwóch wieszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [ ]:
df1 = df1.reset_index(drop=True)
df1

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

### <a name='7'></a> Ćwiczenie 157
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [ ]:
df.isnull().sum()

A    0
B    1
C    0
D    1
dtype: int64

### <a name='8'></a> Ćwiczenie 158
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

In [ ]:
df=df.fillna(0)
df

          A         B         C         D
0  0.642032  0.084140  0.161629  0.898554
1  0.606429  0.009197  0.101472  0.663502
2  0.005062  0.160808  0.548734  0.691895
3  0.651961  0.224269  0.712179  0.237249
4  0.325400  0.746491  0.649633  0.849223
5  0.657613  0.568309  0.093675  0.367716
6  0.265202  0.243990  0.973011  0.393098
7  0.892047  0.631139  0.794811  0.502637
8  0.576904  0.492518  0.195243  0.722452
9  0.280772  0.024316  0.645472  0.177111

### <a name='9'></a> Ćwiczenie 159
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [5]:
df=df[['D','A','B','C']]
df

          D         A         B         C
0  0.909320  0.122038  0.495177  0.034389
1  0.520068  0.258780  0.662522  0.311711
2  0.775133  0.546710  0.184854  0.969585
3  0.921874  0.939499  0.894827  0.597900
4  0.325330  0.088493  0.195983  0.045227
5  0.356753  0.388677  0.271349  0.828738
6  0.802197  0.280935  0.542696  0.140924
7  0.198716  0.074551  0.986887  0.772245
8  0.729007  0.005522  0.815461  0.706857
9  0.115869  0.771270  0.074045  0.358466

### <a name='10'></a> Ćwiczenie 160
Usuń kolumnę $D$ z obiektu _df_.

In [ ]:
del df['D']
df

          A         B         C
0  0.495177  0.034389  0.909320
1  0.662522  0.311711  0.520068
2  0.184854  0.969585  0.775133
3  0.894827  0.597900  0.921874
4  0.195983  0.045227  0.325330
5  0.271349  0.828738  0.356753
6  0.542696  0.140924  0.802197
7  0.986887  0.772245  0.198716
8  0.815461  0.706857  0.729007
9  0.074045  0.358466  0.115869

In [ ]:
df

          A         B         C
0  0.950714  0.731994  0.598658
1  0.155995  0.058084  0.866176
2  0.708073  0.020584  0.969910
3  0.000000  0.181825  0.183405
4  0.524756  0.431945  0.291229
5  0.139494  0.292145  0.366362
6  0.785176  0.199674  0.514234
7  0.046450  0.607545  0.170524
8  0.948886  0.965632  0.000000
9  0.097672  0.684233  0.440152